In [95]:
# Import the pandas library as pd
import pandas as pd

# Read 'police.csv' into a DataFrame named ri
ri = pd.read_csv("police.csv")

# Examine the head of the DataFrame
ri.head()

/var/folders/z8/tmdw53fj61x2f7dqc_6smpcc0000gn/T/ipykernel_3242/998562074.py:5: DtypeWarning: Columns (6,17,30) have mixed types. Specify dtype option on import or set low_memory=False.
  ri = pd.read_csv("police.csv")

,raw_row_number,date,time,zone,subject_race,subject_sex,department_id,type,arrest_made,citation_issued,...,reason_for_stop,vehicle_make,vehicle_model,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
0,1,2005-11-22,11:15:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
1,2,2005-10-01,12:20:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2,3,2005-10-01,12:30:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN
3,4,2005-10-01,12:50:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
4,5,2005-10-01,13:10:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN

In [96]:
# Count the number of missing values in each column
ri.isnull().sum()

raw_row_number                0
date                         10
time                         10
zone                         10
subject_race              29073
subject_sex               29097
department_id                10
type                          0
arrest_made               29073
citation_issued           29073
warning_issued            29073
outcome                   35841
contraband_found         491919
contraband_drugs         493693
contraband_weapons       497886
contraband_alcohol       508464
contraband_other         491919
frisk_performed              10
search_conducted              0
search_basis             491919
reason_for_search        491919
reason_for_stop           29073
vehicle_make             191564
vehicle_model            279593
raw_BasisForStop          29073
raw_OperatorRace          29073
raw_OperatorSex           29073
raw_ResultOfStop          29073
raw_SearchResultOne      491919
raw_SearchResultTwo      508862
raw_SearchResultThree    509513
dtype: int64

In [97]:
# Examine the shape of the DataFrame
ri.shape

(509681, 31)

In [98]:
# Drop all rows that are missing 'subject_sex'
ri.dropna(subset=["subject_sex"],inplace=True)

# Count the number of missing values in each column
ri.isnull().sum()

raw_row_number                0
date                          0
time                          0
zone                          0
subject_race                  0
subject_sex                   0
department_id                 0
type                          0
arrest_made                   0
citation_issued               0
warning_issued                0
outcome                    6763
contraband_found         462822
contraband_drugs         464596
contraband_weapons       468789
contraband_alcohol       479367
contraband_other         462822
frisk_performed               0
search_conducted              0
search_basis             462822
reason_for_search        462822
reason_for_stop               0
vehicle_make             162525
vehicle_model            250553
raw_BasisForStop              0
raw_OperatorRace              0
raw_OperatorSex               0
raw_ResultOfStop              0
raw_SearchResultOne      462822
raw_SearchResultTwo      479765
raw_SearchResultThree    480416
dtype: int64

In [99]:
# Examine the shape of the DataFrame
ri.shape

(480584, 31)

In [100]:
ri.dtypes

raw_row_number            int64
date                     object
time                     object
zone                     object
subject_race             object
subject_sex              object
department_id            object
type                     object
arrest_made              object
citation_issued          object
warning_issued           object
outcome                  object
contraband_found         object
contraband_drugs         object
contraband_weapons       object
contraband_alcohol       object
contraband_other         object
frisk_performed          object
search_conducted           bool
search_basis             object
reason_for_search        object
reason_for_stop          object
vehicle_make             object
vehicle_model            object
raw_BasisForStop         object
raw_OperatorRace         object
raw_OperatorSex          object
raw_ResultOfStop         object
raw_SearchResultOne      object
raw_SearchResultTwo      object
raw_SearchResultThree    object
dtype: object

In [101]:
# Examine the head of the 'arrest_made' column
ri["arrest_made"].head()

0    False
1    False
2    False
3    False
4    False
Name: arrest_made, dtype: object

In [102]:
# Change the data type of 'arrest_made' to 'bool'
ri["arrest_made"] = ri["arrest_made"].astype('bool')

# Check data type if 'arrest_made'
ri["arrest_made"].dtype

dtype('bool')

In [103]:
ri.head()

,raw_row_number,date,time,zone,subject_race,subject_sex,department_id,type,arrest_made,citation_issued,...,reason_for_stop,vehicle_make,vehicle_model,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
0,1,2005-11-22,11:15:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
1,2,2005-10-01,12:20:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2,3,2005-10-01,12:30:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN
3,4,2005-10-01,12:50:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
4,5,2005-10-01,13:10:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN

In [104]:
ri = ri.drop(["contraband_other","vehicle_make","vehicle_model","raw_BasisForStop","raw_OperatorRace","raw_OperatorSex","raw_SearchResultOne","raw_SearchResultTwo","raw_SearchResultThree","department_id","contraband_other","contraband_alcohol","contraband_drugs","contraband_weapons"],axis=1)

In [105]:
# Concatenate 'date' and 'time' (separated by a space)
combined = ri["date"].str.cat(ri["time"], sep=" ")

# Convert 'combined' to datetime format
ri["stop_datetime"] = pd.to_datetime(combined)

In [106]:
# Check the types of data frame
ri.dtypes

raw_row_number                int64
date                         object
time                         object
zone                         object
subject_race                 object
subject_sex                  object
type                         object
arrest_made                    bool
citation_issued              object
warning_issued               object
outcome                      object
contraband_found             object
frisk_performed              object
search_conducted               bool
search_basis                 object
reason_for_search            object
reason_for_stop              object
raw_ResultOfStop             object
stop_datetime        datetime64[ns]
dtype: object

In [107]:
# Set 'stop_datetime' as the index
ri.set_index("stop_datetime", inplace=True)

In [108]:
# Examine index
ri.index

DatetimeIndex(['2005-11-22 11:15:00', '2005-10-01 12:20:00',
               '2005-10-01 12:30:00', '2005-10-01 12:50:00',
               '2005-10-01 13:10:00', '2005-10-01 15:50:00',
               '2005-09-11 11:45:00', '2005-09-11 11:45:00',
               '2005-10-04 11:55:00', '2005-10-04 11:55:00',
               ...
               '2015-12-29 13:28:00', '2015-12-27 12:45:00',
               '2015-12-27 13:43:00', '2015-12-28 02:29:00',
               '2015-12-30 11:42:00', '2015-08-16 13:37:00',
               '2015-08-04 10:40:00', '2015-12-20 11:17:00',
               '2015-11-09 23:35:00', '2015-10-30 11:09:00'],
              dtype='datetime64[ns]', name='stop_datetime', length=480584, freq=None)

In [109]:
# Examine columns to check that stop_datetime is no longer there
ri.columns

Index(['raw_row_number', 'date', 'time', 'zone', 'subject_race', 'subject_sex',
       'type', 'arrest_made', 'citation_issued', 'warning_issued', 'outcome',
       'contraband_found', 'frisk_performed', 'search_conducted',
       'search_basis', 'reason_for_search', 'reason_for_stop',
       'raw_ResultOfStop'],
      dtype='object')

In [110]:
# Count of violation being committed
ri["reason_for_stop"].value_counts()

Speeding                            268736
Other Traffic Violation              90228
Equipment/Inspection Violation       61250
Registration Violation               19830
Seatbelt Violation                   16324
Special Detail/Directed Patrol       13642
Call for Service                      7605
Violation of City/Town Ordinance      1036
Motorist Assist/Courtesy               989
APB                                    485
Suspicious Person                      342
Warrant                                117
Name: reason_for_stop, dtype: int64

COMPARING VIOLATIONS BY GENDER

In [111]:
# Create a DataFrame of female drivers
female = ri[ri["subject_sex"] == "female"]

# Create a DataFrame of male drivers
male = ri[ri["subject_sex"] == 'male']

In [112]:
# Compute the violation by female drivers (as proportions)
female["reason_for_stop"].value_counts(normalize=True)

Speeding                            0.657308
Other Traffic Violation             0.136581
Equipment/Inspection Violation      0.107055
Registration Violation              0.043077
Seatbelt Violation                  0.027071
Call for Service                    0.018057
Special Detail/Directed Patrol      0.005071
Motorist Assist/Courtesy            0.002532
Violation of City/Town Ordinance    0.001647
APB                                 0.000831
Suspicious Person                   0.000564
Warrant                             0.000206
Name: reason_for_stop, dtype: float64

In [113]:
# Compute the violation by male drivers (as proportions)
male["reason_for_stop"].value_counts(normalize=True)

Speeding                            0.522364
Other Traffic Violation             0.206948
Equipment/Inspection Violation      0.135102
Registration Violation              0.040581
Special Detail/Directed Patrol      0.037136
Seatbelt Violation                  0.036555
Call for Service                    0.014987
Violation of City/Town Ordinance    0.002347
Motorist Assist/Courtesy            0.001880
APB                                 0.001076
Suspicious Person                   0.000767
Warrant                             0.000258
Name: reason_for_stop, dtype: float64

In [114]:
ri["reason_for_stop"].value_counts()

Speeding                            268736
Other Traffic Violation              90228
Equipment/Inspection Violation       61250
Registration Violation               19830
Seatbelt Violation                   16324
Special Detail/Directed Patrol       13642
Call for Service                      7605
Violation of City/Town Ordinance      1036
Motorist Assist/Courtesy               989
APB                                    485
Suspicious Person                      342
Warrant                                117
Name: reason_for_stop, dtype: int64

COMPARING SPEEDING OUTCOMES BY GENDER

In [115]:
# Create a DataFrame of female drivers stopped for speeding
female_and_speeding = ri[(ri["reason_for_stop"] == "Speeding") & (ri["subject_sex"] == "female")]

# Create a DataFrame of male drivers stopped for speeding
male_and_speeding = ri[(ri["reason_for_stop"] == "Speeding") & (ri["subject_sex"] == "male")]

In [116]:
# Compute the stop outcomes for female drivers (as proportions)
female_and_speeding["outcome"].value_counts(normalize=True)

citation    0.954609
warning     0.039059
arrest      0.006332
Name: outcome, dtype: float64

In [117]:
# Compute the stop outcomes for male drivers (as proportions)
male_and_speeding["outcome"].value_counts(normalize=True)

citation    0.946763
warning     0.036167
arrest      0.017070
Name: outcome, dtype: float64

COMPARING VEHICLE SEARCHES BY GENDER

In [118]:
# Check the data type of 'search_conducted'
ri["search_conducted"].dtype

dtype('bool')

In [119]:
# Calculate the search rate by counting the values
ri["search_conducted"].value_counts(normalize=True)

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [120]:
# Calculate the search rate by taking the mean
ri["search_conducted"].mean()

0.036959199640437465

In [121]:
# Calculate the search rate for female drivers
ri[ri["subject_sex"] == "female"]["search_conducted"].mean()

0.018751239152648355

In [122]:
# Calculate the search rate for male drivers
ri[ri["subject_sex"] == "male"]["search_conducted"].mean()

0.04379217389811301

In [123]:
# Calculate the search rate for both groups simultaneously
ri.groupby("subject_sex").search_conducted.mean()

subject_sex
female    0.018751
male      0.043792
Name: search_conducted, dtype: float64

In [124]:
# Calculate the search rate for each combination of gender and violation
ri.groupby(["subject_sex","reason_for_stop"])["search_conducted"].mean()

subject_sex  reason_for_stop
female       APB                                 0.165138
             Call for Service                    0.042230
             Equipment/Inspection Violation      0.040245
             Motorist Assist/Courtesy            0.033133
             Other Traffic Violation             0.038021
             Registration Violation              0.054700
             Seatbelt Violation                  0.017746
             Special Detail/Directed Patrol      0.018045
             Speeding                            0.007738
             Suspicious Person                   0.216216
             Violation of City/Town Ordinance    0.060185
             Warrant                             0.148148
male         APB                                 0.255319
             Call for Service                    0.092419
             Equipment/Inspection Violation      0.070916
             Motorist Assist/Courtesy            0.089802
             Other Traffic Violation             0.059156
             Registration Violation              0.103589
             Seatbelt Violation                  0.031705
             Special Detail/Directed Patrol      0.010249
             Speeding                            0.026630
             Suspicious Person                   0.305970
             Violation of City/Town Ordinance    0.073171
             Warrant                             0.311111
Name: search_conducted, dtype: float64

In [125]:
# Reverse the ordering to group by violation before gender
ri.groupby(["reason_for_stop","subject_sex"])["search_conducted"].mean()

reason_for_stop                   subject_sex
APB                               female         0.165138
                                  male           0.255319
Call for Service                  female         0.042230
                                  male           0.092419
Equipment/Inspection Violation    female         0.040245
                                  male           0.070916
Motorist Assist/Courtesy          female         0.033133
                                  male           0.089802
Other Traffic Violation           female         0.038021
                                  male           0.059156
Registration Violation            female         0.054700
                                  male           0.103589
Seatbelt Violation                female         0.017746
                                  male           0.031705
Special Detail/Directed Patrol    female         0.018045
                                  male           0.010249
Speeding                          female         0.007738
                                  male           0.026630
Suspicious Person                 female         0.216216
                                  male           0.305970
Violation of City/Town Ordinance  female         0.060185
                                  male           0.073171
Warrant                           female         0.148148
                                  male           0.311111
Name: search_conducted, dtype: float64

COMPARING FRISK RATE BY GENDER

In [131]:
ri["frisk_performed"].value_counts()

False    471262
True       9322
Name: frisk_performed, dtype: int64

In [133]:
# Create a DataFrame of stops in which a search was conducted
searched = ri[ri["search_conducted"] == True]

# Calculate the overall frisk rate by taking the mean of frisk
searched["frisk_performed"].mean()

0.5248282851030289

In [134]:
# Calculate the frisk rate for each gender
print(searched.groupby("subject_sex")["frisk_performed"].mean())

subject_sex
female    0.437983
male      0.538783
Name: frisk_performed, dtype: float64