In [29]:
# Import the pandas library as pd
import pandas as pd

# Read 'police.csv' into a DataFrame named ri
ri = pd.read_csv("police.csv")

# Examine the head of the DataFrame
ri.head()

/var/folders/z8/tmdw53fj61x2f7dqc_6smpcc0000gn/T/ipykernel_39638/998562074.py:5: DtypeWarning: Columns (6,17,30) have mixed types. Specify dtype option on import or set low_memory=False.
  ri = pd.read_csv("police.csv")

,raw_row_number,date,time,zone,subject_race,subject_sex,department_id,type,arrest_made,citation_issued,...,reason_for_stop,vehicle_make,vehicle_model,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
0,1,2005-11-22,11:15:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
1,2,2005-10-01,12:20:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2,3,2005-10-01,12:30:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN
3,4,2005-10-01,12:50:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
4,5,2005-10-01,13:10:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN

In [30]:
# Count the number of missing values in each column
ri.isnull().sum()

raw_row_number                0
date                         10
time                         10
zone                         10
subject_race              29073
subject_sex               29097
department_id                10
type                          0
arrest_made               29073
citation_issued           29073
warning_issued            29073
outcome                   35841
contraband_found         491919
contraband_drugs         493693
contraband_weapons       497886
contraband_alcohol       508464
contraband_other         491919
frisk_performed              10
search_conducted              0
search_basis             491919
reason_for_search        491919
reason_for_stop           29073
vehicle_make             191564
vehicle_model            279593
raw_BasisForStop          29073
raw_OperatorRace          29073
raw_OperatorSex           29073
raw_ResultOfStop          29073
raw_SearchResultOne      491919
raw_SearchResultTwo      508862
raw_SearchResultThree    509513
dtype: int64

In [31]:
# Examine the shape of the DataFrame
ri.shape

(509681, 31)

In [32]:
# Drop all rows that are missing 'subject_sex'
ri.dropna(subset=["subject_sex"],inplace=True)

# Count the number of missing values in each column
ri.isnull().sum()

raw_row_number                0
date                          0
time                          0
zone                          0
subject_race                  0
subject_sex                   0
department_id                 0
type                          0
arrest_made                   0
citation_issued               0
warning_issued                0
outcome                    6763
contraband_found         462822
contraband_drugs         464596
contraband_weapons       468789
contraband_alcohol       479367
contraband_other         462822
frisk_performed               0
search_conducted              0
search_basis             462822
reason_for_search        462822
reason_for_stop               0
vehicle_make             162525
vehicle_model            250553
raw_BasisForStop              0
raw_OperatorRace              0
raw_OperatorSex               0
raw_ResultOfStop              0
raw_SearchResultOne      462822
raw_SearchResultTwo      479765
raw_SearchResultThree    480416
dtype: int64

In [33]:
# Examine the shape of the DataFrame
ri.shape

(480584, 31)

In [34]:
ri.dtypes

raw_row_number            int64
date                     object
time                     object
zone                     object
subject_race             object
subject_sex              object
department_id            object
type                     object
arrest_made              object
citation_issued          object
warning_issued           object
outcome                  object
contraband_found         object
contraband_drugs         object
contraband_weapons       object
contraband_alcohol       object
contraband_other         object
frisk_performed          object
search_conducted           bool
search_basis             object
reason_for_search        object
reason_for_stop          object
vehicle_make             object
vehicle_model            object
raw_BasisForStop         object
raw_OperatorRace         object
raw_OperatorSex          object
raw_ResultOfStop         object
raw_SearchResultOne      object
raw_SearchResultTwo      object
raw_SearchResultThree    object
dtype: object

In [35]:
# Examine the head of the 'arrest_made' column
ri["arrest_made"].head()

0    False
1    False
2    False
3    False
4    False
Name: arrest_made, dtype: object

In [36]:
# Change the data type of 'arrest_made' to 'bool'
ri["arrest_made"] = ri["arrest_made"].astype('bool')

# Check data type if 'arrest_made'
ri["arrest_made"].dtype

dtype('bool')

In [37]:
ri.head()

,raw_row_number,date,time,zone,subject_race,subject_sex,department_id,type,arrest_made,citation_issued,...,reason_for_stop,vehicle_make,vehicle_model,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
0,1,2005-11-22,11:15:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
1,2,2005-10-01,12:20:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2,3,2005-10-01,12:30:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN
3,4,2005-10-01,12:50:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
4,5,2005-10-01,13:10:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN

In [38]:
ri = ri.drop(["zone","contraband_other","search_basis","reason_for_search","vehicle_make","vehicle_model","raw_BasisForStop","raw_OperatorRace","raw_OperatorSex","raw_SearchResultOne","raw_SearchResultTwo","raw_SearchResultThree","department_id","contraband_other","contraband_alcohol","contraband_drugs","contraband_weapons"],axis=1)

In [39]:
# Concatenate 'date' and 'time' (separated by a space)
combined = ri["date"].str.cat(ri["time"], sep=" ")

# Convert 'combined' to datetime format
ri["stop_datetime"] = pd.to_datetime(combined)

In [40]:
# Check the types of data frame
ri.dtypes

raw_row_number               int64
date                        object
time                        object
subject_race                object
subject_sex                 object
type                        object
arrest_made                   bool
citation_issued             object
warning_issued              object
outcome                     object
contraband_found            object
frisk_performed             object
search_conducted              bool
reason_for_stop             object
raw_ResultOfStop            object
stop_datetime       datetime64[ns]
dtype: object

In [42]:
# Set 'stop_datetime' as the index
ri.set_index("stop_datetime", inplace=True)

In [46]:
# Examine index
ri.index

DatetimeIndex(['2005-11-22 11:15:00', '2005-10-01 12:20:00',
               '2005-10-01 12:30:00', '2005-10-01 12:50:00',
               '2005-10-01 13:10:00', '2005-10-01 15:50:00',
               '2005-09-11 11:45:00', '2005-09-11 11:45:00',
               '2005-10-04 11:55:00', '2005-10-04 11:55:00',
               ...
               '2015-12-29 13:28:00', '2015-12-27 12:45:00',
               '2015-12-27 13:43:00', '2015-12-28 02:29:00',
               '2015-12-30 11:42:00', '2015-08-16 13:37:00',
               '2015-08-04 10:40:00', '2015-12-20 11:17:00',
               '2015-11-09 23:35:00', '2015-10-30 11:09:00'],
              dtype='datetime64[ns]', name='stop_datetime', length=480584, freq=None)

In [47]:
# Examine columns to check that stop_datetime is no longer there
ri.columns

Index(['raw_row_number', 'date', 'time', 'subject_race', 'subject_sex', 'type',
       'arrest_made', 'citation_issued', 'warning_issued', 'outcome',
       'contraband_found', 'frisk_performed', 'search_conducted',
       'reason_for_stop', 'raw_ResultOfStop'],
      dtype='object')